%h2
  %em.fa.fa-exclamation-triangle
  = t '.title'

- if @event.locality?
  %h2.warning= t '.warning'

= form_for @moderation, url: { action: :accept }, html: { method: :put } do |f|
  = link_to moderations_path do
    %em.fa.fa-arrow-left
    = t '.ko'

  = f.button do
    %em.fa.fa-thumbs-up
    = t '.ok'

- if ENV['TWITTER_CONSUMER_KEY'] || Rails.env.development?
  %fieldset
    %legend
      %em.fa.fa-twitter
      Tweet

    %h3= t '.tweet_helper'

    = @event.to_tweet

%fieldset
  %legend
    %em.fa.fa-calendar
    = Event.model_name.human
  = render file: '/events/show'
