= render 'search'
= render '/regions/selector'

%h2
  %em.fa.fa-users
  = title t '.title'

= render 'types'

%table.list.autopagerize_page_element
  %thead
    %th
    %th.name= sort_link @search, :name
    %th.city= sort_link @search, :city
    %th.department= sort_link @search, :department
    %th.region= sort_link @search,
      :region_name, Orga.human_attribute_name(:region)
    %th.tags= sort_link @search, :tags, Orga.human_attribute_name(:tags)
    %th.updated_at= sort_link @search,
      :updated_at, Orga.human_attribute_name(:updated_at)
    %th
    %th
    %th
    %th.view/
    %th.edit/

  %tbody
    - @orgas.each do |orga|
      %tr{ class: orga.active ? 'active' : 'inactive' }
        %td.kind
          - if orga.kind
            %em.fa{ class: "fa-#{orga.kind.icon}",
              title: Kind.human_attribute_name("name_#{orga.kind.name}") }
        %td.name
          = orga.name
          - if orga.url =~ /^http/
            = image_tag orga.url + '/favicon.ico', alt: '', class: :favicon
        %td.city= orga.city
        %td.department= orga.department
        %td.region= orga.region
        %td.tags= orga.tags
        %td.updated_at
          - if orga.updated_at.present?
            = l orga.updated_at.to_date
        %td.url
          - if orga.url.present?
            = link_to orga.url do
              %em.fa.fa-external-link{ title: Orga.human_attribute_name(:url) }
        %td.diaspora
          - if orga.diaspora.present?
            = link_to orga.diaspora do
              %em.fa.fa-bullhorn{ title: Orga.human_attribute_name(:diaspora) }
        %td.feed
          - if orga.feed.present?
            = link_to orga.feed do
              %em.fa.fa-rss{ title: Orga.human_attribute_name(:feed) }
        %td.view
          = link_to orga_path(orga, q: params[:q], page: params[:page]) do
            %em.fa.fa-eye
        %td.edit
          - if orga.secret.nil? || user_signed_in?
            = link_to edit_orga_path orga do
              %em.fa.fa-pencil

  %tfoot
    %tr
      %th(colspan='12')= paginate @orgas
