%h2
  %em.fa.fa-map-marker
  = title t '.title'
  - if params[:tag]
    «
    %em= params[:tag]
    »

%ul.list#map
  %li
    = link_to maps_path format: :json do
      .awesome-marker.awesome-marker-icon-blue
        %i.icon-white.fa.fa-calendar
      = Event.model_name.human
  - markerColors = ['blue', 'red', 'darkred', 'orange', 'green', 'darkgreen',
    'purple', 'darkpuple', 'cadetblue']
  - idx = 1
  - Kind.all.each do |kind|
    %li
      = link_to map_path kind.name, format: :json do
        .awesome-marker{ class: "awesome-marker-icon-#{markerColors[idx % markerColors.length]}" }
          %i.icon-white.fa{ class: "fa-#{kind.icon}" }
        = Kind.human_attribute_name("name_#{kind.name}")
      - idx += 1
