%p
  %b Login:
  = @user.login
%p
  %b Email:
  = @user.email
%p
  %b Lastname:
  = @user.lastname
%p
  %b Firstname:
  = @user.firstname

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
