= t '.body', subject: @orga.name, author: @current_user || t('.submitter')
\
:ruby
  new = render file: '/orgas/show'

  former = @orga
  @orga = @orga.paper_trail.previous_version

  prev = render file: '/orgas/show'
  @orga = former

  require 'differ/format/patch'
  Differ.format = Differ::Format::Patch
= Differ.diff new, prev

= t '.access'
= orga_url @orga
\
= t '.signature'
