= form_for @event,
  url: { action: @event.new_record? ? :create : :update } do |f|
  - if @event.persisted?
    = f.hidden_field :lock_version
    - unless @moderation
      = hidden_field_tag :secret, params[:secret]

  - if @event.errors.any?
    #flash_messages
      - @event.errors.full_messages.each do |msg|
        %p.flash.alert= msg

  .field.title
    = f.label :title
    = f.text_field :title, required: true, placeholder: "#{t '.title_helper'}"
  .field.start_time
    = f.label :start_time
    = f.datetime_local_field :start_time, required: true
  .field.end_time
    = f.label :end_time
    = f.datetime_local_field :end_time, required: true
  .field.description
    .helper
      :markdown
        #{t '.description_helper'}
    = f.label :description
    = f.text_area :description, rows: 25, class: :description

  .field.place_name
    = f.label :place_name
    = f.text_field :place_name
  .field.address
    .helper
      :markdown
        #{t '.address_helper'}
    = f.label :address
    = f.text_field :address, list: :addresses
    %datalist#addresses
      - Event.where('address is not null').group(:address).order('count(address) desc').pluck(:address).each do |address|
        %option= address
  .field.city
    = f.label :city
    = f.text_field :city, required: true, list: :cities
    %datalist#cities
      - Event.group(:city).order('count(city) desc').pluck(:city).each do |city|
        %option= city
  .field.region
    = f.label :region
    = f.collection_select :region_id, Region.all, :id, :name, { include_blank: true }
  .field.locality
    = f.label :locality
    %span.radios
      = f.radio_button :locality, 0
      = f.label 'locality_0' do
        %em.fa.fa-shield
        = t 'attributes.locality_0'
      = f.radio_button :locality, 1
      = f.label 'locality_1' do
        %em.fa.fa-globe
        = t 'attributes.locality_1'

  .field.url
    .helper
      :markdown
        #{t '.url_helper'}
    = f.label :url
    = f.url_field :url, required: true, placeholder: 'Ex: http://april.org'
  .field.contact
    .helper
      :markdown
        #{t '.contact_helper'}
    = f.label :contact
    = f.email_field :contact, required: true
  .field.submitter
    .helper
      :markdown
        #{t '.submitter_helper'}
    = f.label :submitter
    = f.email_field :submitter
  .field.tags
    .helper
      :markdown
        #{t '.tags_helper'}
    = f.label :tags
    = f.text_field :tags

  .actions
    = f.button formaction: :preview do
      %em.fa.fa-eye
      = t '.visualise'

    = f.button do
      %em.fa.fa-check
      = t '.save'
