= render '/orgas/search'
= render '/regions/selector'

- if params[:year]
  -# Whole year calendar
  - @events = @events.year params[:year]
  %header.calendar-header.year
    = link_to '<<', year: params[:year].to_i - 1, tag: params[:tag],
      region: params[:region]
    = params[:year]
    = link_to '>>', year: params[:year].to_i + 1, tag: params[:tag],
      region: params[:region]

  - (1..12).each do |i|
    - params[:start_date] = "#{params[:year]}-#{i}-01"

    = month_calendar do |date|
      - capture_haml do
        .day_number= date.day
        %ul.events.fa-ul= render month_events(@events, date)

- else
  -# One month calendar
  - @events = @events.month params[:start_date] ||= Time.zone.today
  = month_calendar do |date|
    - capture_haml do
      .day_number= date.day
      %ul.events.fa-ul= render month_events(@events, date)

.formats
  %em.fa.fa-rss
  = raw t '.calendar_in',
    rss: link_to('RSS', events_path(:rss,
      tag: params[:tag], region: params[:region])),
    webcal: link_to('webcal', events_path(tag: params[:tag],
      protocol: 'webcal', format: :ics, region: params[:region])),
    ical: link_to('iCal', events_path(:rss,
      tag: params[:tag], format: :ics, region: params[:region]))

%a#banner(href='http://april.org/campagne')
  = image_tag 'priorite-logiciel-libre-je-soutiens-april_2_m.png',
    width: '374', height: '48',
    alt: 'Priorité au Logiciel Libre! Je soutiens l\'April.'

/
  %a#banner(href='http://www.libre-en-fete.net')
    = image_tag 'lef.png', width: '180', height: '60', alt: 'Libre en Fete'

- set_events_meta
