- set_event_meta

- if @event.tags && @event.tags.include?('libre-en-fete')
  Cet événement s'inscrit dans le cadre de
  %a(href='http://www.libre-en-fete.net')
    = image_tag 'lef.png', width: '180', height: '60', alt: 'Libre en Fete',
      style: 'vertical-align: middle'

%h2
  - if @event.locality?
    %em.locality.fa.fa-globe{ title: t('attributes.locality_1') }
  - else
    %em.locality.fa.fa-shield{ title: t('attributes.locality_0') }
  %em.city{ title: @event.full_address }= @event.city
  = title @event.title

- if controller.controller_name == 'events' && controller.action_name == 'show'
  %aside#orga-list
    - if @event.region.present? && @event.region.orgas.present?
      %h1
        %em.fa.fa-users
        = t '.orga-list'
      %ul.fa-ul
        - @event.region.orgas.select(&:active).each do |orga|
          %li
            = link_to orga do
              - if orga.kind
                %em.fa.fa-li{ class: "fa-#{orga.kind.icon}",
                  title: Kind.human_attribute_name("name_#{orga.kind.name}") }
              = orga.name
              = image_tag orga.url + '/favicon.ico', alt: '', class: :favicon

    %h1
      %em.fa.fa-wrench
      = t '.actions'
    %h2
      = link_to event_path @event, protocol: :webcal, format: :ics do
        %em.fa.fa-lg.fa-calendar
        = t '.add_to_calendar'
    %h2
      = link_to preview_events_path(event: { title: @event.title,
        start_time: @event.start_time + 1.month,
        end_time: @event.end_time + 1.month,
        description: @event.description,
        place_name: @event.place_name,
        address: @event.address,
        city: @event.city,
        region_id: @event.region.id,
        locality: @event.locality,
        url: @event.url,
        tags: @event.tags }),
        method: :post do
        %em.fa.fa-copy
        = t '.copy'
    - if user_signed_in?
      %h2
        = link_to edit_moderation_path @event do
          %em.fa.fa-lg.fa-pencil
          = t '.edit'
      %h2
        = link_to cancel_event_path @event, secret: @event.secret do
          %em.fa.fa-lg.fa-thumbs-down
          = t '.cancel'

%h3= t '.dateAndPlace'

%p= display_date

%p.full_address
  - if @event.place_name.present?
    %span= @event.place_name
  - if @event.address.present?
    %span= @event.address
  %span= link_to @event.city,
    "http://fr.wikipedia.org/wiki/#{url_encode @event.city}"
  %span= link_to @event.region.try(:name),
    "http://fr.wikipedia.org/wiki/#{url_encode @event.region.try :name}"

- if @event.latitude && @event.longitude
  .event#map{ data: { url: "#{maps_path format: :json}",
    latitude: "#{@event.latitude}", longitude: "#{@event.longitude}" } }

- elsif controller.action_name != 'show'
  %em.fa.fa-compress
  %em
    = raw t '.noMap'
    %a{ href: 'http://osm.org/search?query=' + @event.full_address }
      %img(src='http://www.openstreetmap.org/assets/osm_logo.png'
        alt='OSM logo' width='22px')

%h3= t '.description'
.description
  = description sanitize @event.description,
    tags: %w(p h1 h2 h3 h4 br table tr th td ul ol li a strong b em i img),
    attributes: %w(href src width height style)

%h3
  %em.fa.fa-info-circle
  = t '.infos'
%p
  %em.fa.fa-external-link
  %span.label= Event.human_attribute_name :url
  = link_to @event.url, @event.url
%p
  %em.fa.fa-envelope
  %span.label= Event.human_attribute_name :contact
  = mail_to @event.contact, nil,
    encode: (request.format == 'text/html' ? :javascript : nil),
    replace_at: ' CHEZ ', replace_dot: ' POINT '

- if @event.tags && @event.tags.present?
  %p.tags
    %em.fa.fa-tags
    %span.label= Event.human_attribute_name :tags
    - @event.tags.split.each do |tag|
      = link_to tag, tag_path(tag), rel: :tag
