= t '.body', subject: @event.title,
  start_time: l(@event.start_time, format: :at)
= edit_event_url @event, secret: @event.secret
\
= t '.delete_link'
= cancel_event_url @event, secret: @event.secret
\
= t '.signature'
