@import compass

body.digests main
  padding: 1em
  max-width: 60em
  +box-shadow(1px 1px 5px gray)
  +border-radius(0.4em)

  h2
    margin: 0
    padding: 0
    font-size: larger
    text-align: left

  // Some hack so the display is similar to the one on dlfp
  .description, .second_part
    p
      white-space: pre-line

  textarea
    width: 40em
    height: 20em
