@import compass

.quantity
  text-align: right !important
  white-space: nowrap

table
  margin: 1em auto
  border-spacing: 2px
  th
    padding: 0.3em 0.6em

  &.list
    tbody
      tr:nth-child(odd)
        background-color: #D1EAFF
      tr:nth-child(even)
        background-color: #C9E2F5
    th
      font-size: larger
    td
      padding: 0.2em
      text-align: left
      &.updated_at
        text-align: center

dl
  margin: 1em auto
  max-width: 40em
  dt
    clear: left
    float: left
    padding: 0.2em 1em
    min-width: 50%
    text-align: right
  dd
    padding: 0.2em 1em
    text-align: left
    &.quantity
      padding-right: 16em
    h3
      display: inline
  dt + dd + dt +dd
    border-top: 1px solid #999

ul.counters
  text-align: center
  li
    display: inline
    a:link, a:visited
      color: white
      display: inline-block
      padding: 0.2em 0.8em
      background-color: darkblue
      +border-radius(1em)

.edit_link:link, .delete_link:link
  display: none
