@import compass

.region_selector
  +inline-block()
  h3
    margin: 0
    .placeholder
      color: gray
  ul
    margin: 0
    z-index: 10
    display: none
    position: absolute
    margin-top: -7em
    background-color: white
    +no-bullets()
    +box-shadow(1px 1px 4px gray)
    +border-bottom-left-radius(0.4em)
    +border-bottom-right-radius(0.4em)
    li
      margin: 0
      a
        display: block
        padding: 0.2em 1em
        border-top: solid thin black
        &:hover
          background-color: #eee
          +text-shadow(1px 1px 0.2em gray)
        em.fa-globe
          color: red
  &:hover ul
    display: block

body.stats h3
  text-align: center

table.list.dates
  th, td
    padding: 0 0.6em

  .sparkline
    padding: 0
