%nav.region_selector
  -# Display the currently selected region
  %h3
    - if params[:region] && params[:region] != 'all'
      %em.locality.fa.fa-shield
      = Region.find params[:region]
      %em.fa.fa-chevron-down
    - elsif params[:locality]
      %span.placeholder
        %em.locality.fa.fa-globe
        = t '.national'
        %em.fa.fa-chevron-down
    - else
      %span.placeholder
        %em.locality.fa.fa-globe
        = t '.all_regions'
        %em.fa.fa-chevron-down

  -# Choose a region to filter events with
  %ul
    %li
      = link_to t('.all_regions'), region: nil,
        start_date: params[:start_date],
        year: params[:year],
        tag: params[:tag]

    - Region.pluck(:id, :name).each do |id, name|
      %li
        = link_to name, region: id,
          start_date: params[:start_date],
          year: params[:year],
          tag: params[:tag]

    - unless controller.class == OrgasController
      %li
        = link_to locality: 1,
          start_date: params[:start_date],
          year: params[:year],
          tag: params[:tag] do
          %em.fa.fa-globe
          = t '.national'
