!!! 5
/[if IE]
%html.no-js{ lang: I18n.locale, class: params[:iframe] ? 'iframe' : '' }
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='robots' content='index, follow')

    = display_meta_tags site: t('.title')

    = favicon_link_tag '/favicon.ico'
    = auto_discovery_link_tag :rss, controller: '/events', format: :rss

    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true,
      type: 'text/javascript'
    = csrf_meta_tags

  - classes = [request.domain.split('.')[0],
    controller.controller_name, controller.action_name]
  %body{ class: classes }
    %header.top
      = image_tag 'baby_gnu_adl.png', alt: 'Baby GNU', class: :logo,
        width: 91, height: 72

      %ul.countries
        %li.map_france
          = link_to t('.france'), 'http://www.agendadulibre.org'
        %li.map_quebec
          = link_to t('.quebec'), 'http://www.agendadulibre.qc.ca'
        %li.map_belgique
          = link_to t('.belgique'), 'http://www.agendadulibre.be'
        %li.map_suisse
          = link_to t('.suisse'), 'http://www.agendadulibre.ch'

      %h1= link_to t('.title'), root_path
      %h2= t '.subtitle'

    = render 'layouts/flash', flash: flash if flash.present?

    %main= yield

    %footer.bottom
      %nav
        = link_to new_event_path do
          %em.fa.fa-pencil
          = t '.propose'
        = link_to new_orga_path do
          %em.fa.fa-users
          = t '.propose_orga'
        %br/
        = link_to regions_path do
          %em.fa.fa-rss
          = t '.feeds'
        = link_to maps_path do
          %em.fa.fa-map-marker
          = t '.map'
        = link_to tags_path do
          %em.fa.fa-tags
          = t '.tags'
        = link_to orgas_path do
          %em.fa.fa-users
          = Orga.model_name.human.pluralize
        = link_to versions_path do
          %em.fa.fa-exchange
          = t 'versions.index.title'
        = link_to application_infos_path do
          %em.fa.fa-info
          = t '.infos'
        = link_to stats_path do
          %em.fa.fa-signal
          = t '.stats'
        = link_to application_contact_path do
          %em.fa.fa-envelope
          = t '.contact'
        = link_to moderations_path do
          %em.fa.fa-gavel
          = t '.moderation'
